html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  overflow: hidden;
}

header {
  border-bottom: solid black 1px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header > * {
  cursor: pointer;
  padding: 2rem;
  height: 10vh;
}

header > button {
  border: none;
  background: none;
}

#navigation {
  visibility: hidden;
  position: absolute;
  top: calc(10vh + 1px);
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: #49b293;
  z-index: 9999;
}

main {
  height: 80vh;
  overflow-y: auto;
}

footer {
  border-top: solid black 1px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 10vh;
  width: 100%;
  position: fixed;
  bottom: 0;
  background-color: white;
}

footer > * {
  padding: 2rem;
}

a {
  text-decoration: none;
  color: black;
}

a:hover {
  text-decoration: underline;
}

button {
  background: none;
  border: 1px solid black;
  cursor: pointer;
  padding: 1rem;
}

.carousel {
  position: relative;
  /* overflow: hidden; */
}

.carousel__slides-container {
  height: 40vh;
  width: 100%;
  display: flex;
  list-style: none;
  margin: 0 auto;
  padding: 0;
  scroll-behavior: smooth;
  display: flex;
  scroll-snap-type: x mandatory;
  overflow-x: scroll;
}

.carousel__slide {
  height: 100%;
  flex: 1 0 100%;
  width: 100%;
  flex-shrink: 0;
  scroll-snap-align: start;
}

.carousel__arrow {
  background: none;
  border: none;
  cursor: pointer;
  padding: 1rem;
  font-size: 2rem;
  position: absolute;
  top: 0;
  bottom: 0;
  color: black;
  /*   height: 4rem; */
}

#carousel__arrow--previous {
  left: 0;
}

#carousel__arrow--next {
  right: 0;
}

.carousel__nav {
  text-align: center;
}

.carousel__indicator {
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.3);
  border: none;
  margin-top: 1rem;
  cursor: pointer;
}
.carousel__indicator.current_slide {
  background-color: black;
}

.carousel__arrow:hover,
.carousel__arrow:focus {
}

.carousel__slide:nth-child(1) {
  background-color: #49b293;
}

.carousel__slide:nth-child(2) {
  background-color: #b03532;
}

.carousel__slide:nth-child(3) {
  background-color: #6a478f;
}

.carousel__slide:nth-child(4) {
  background-color: #da6f2b;
}

.carousel__slide:nth-child(5) {
  background-color: #49b293;
}

.carousel__slide:nth-child(6) {
  background-color: #b03532;
}

.carousel__slide:nth-child(7) {
  background-color: #6a478f;
}

.carousel__slide:nth-child(8) {
  background-color: #da6f2b;
}

.lorem {
  max-width: 80%;
  margin: 2rem auto;
}

/* .featured-posts {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 2rem;
  gap: 1rem;
}

.post {
  display: flex;
  flex-direction: column;
  flex: 1 1 24%;
  border: 1px solid black;
  padding: 1rem;
  cursor: pointer;
}

.post > img {
  width: 100%;
  height: 30vh;
  object-fit: cover;
}

.fa-stack {
  font-size: 0.5rem;
} */

.post > * {
  border: 1px solid red;
}

.post {
  margin: 1rem;
  border: 1px solid black;
  display: flex;
  flex-direction: column;
}

.post img {
  width: 100%;
  height: 30vh;
  object-fit: cover;
}

.post-info {
  padding: 1rem;
}

.comment-icon {
}

button.view-more {
  margin-bottom: 3rem;
}

.blog-post img {
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}

.blog-post img:hover {
  opacity: 0.7;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.9); /* Black w/ opacity */
}

/* Modal Content (image) */
.modal-content {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
}

/* Caption of Modal Image */
#caption {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
  text-align: center;
  color: #ccc;
  padding: 10px 0;
  height: 150px;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px) {
  .modal-content {
    width: 100%;
  }
}
